<header>
    <div class="row">
        <div class="col-0 col-md-1">
        </div>
        <div class="col-12 mx-2 col-md-10 ">
            <div class=" text-center text-weight-bold mt-5 header__navbar">
                <h1 class="title__text">Neoland Journal</h1>
                <h6 class="title__text">Newspaper & Magazine</h6>
            </div>
        </div>
        <div class="col-0 col-md-1">
        </div>
    </div>
</header>
<main>
    <div class="row">
        <div class="col-0 col-sm-3 d-none d-md-block">
            <div class="main__sidebar">
                <div class="sidebar__contents ml-5">
                    <br>
                    <p class="ml-2 mb-1 text-uppercase sidebar__text">Categories</p>
                    <div class="ml-3" *ngFor="let category of categories, let i = index">
                        <small class="sidebar__text mt-2">{{category}}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-9">
            <div class="main__body">
                <div class="row">
                    <div class="col-12 col-md-7">

                    </div>
                    <div class="col-12 col-md-5">
                        <h1 class="title__text text-center">Top Headlines</h1>
                        <div *ngFor="let noticia of noticias" class="noticias">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>