<header>
    <div class="row">
        <div class="col-0 col-md-1">
        </div>
        <div class="col-12 mx-2 col-md-10 ">
            <div class=" text-center text-weight-bold mt-5 header__navbar">
                <h1 routerLink="/home" class="title__text neoland__title">Neoland Journal</h1>
                <h6 class="title__text">Newspaper & Magazine</h6>
            </div>
        </div>
        <div class="col-0 col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-block d-lg-none">
            <div class="row headermp__menubar">
                <div *ngIf="!openedTrue" class="col-2">
                    <p routerLink="/home" class="mt-4 float-right text-uppercase main__text sidebar__home"><i
                            class="fas fa-home" style="position: absolute; top: 50%;"></i></p>
                </div>
                <div class="col-8">
                    <div class="form-group mt-4 text-center">
                        <div class="cats__container ml-4 mt-4" (click)="openSelect()"
                            [ngClass]="{cats__container: !openedTrue, cats__containerOp: openedTrue}">
                            <div class="row cat__container1">
                                <div class="col-9">
                                    <p class="main__text ml-3 text-capitalize font-weight-bold">{{category}}</p>
                                </div>
                                <div class="col-3">
                                    <i class="fas fa-sort-down" style="position: absolute; top: 6%;"></i>
                                </div>
                            </div>
                            <div *ngIf="category != 'business'" class="row cat__container">
                                <div class="col-9">
                                    <p class="main__text text-capitalize ml-3" (click)="changeCategory('business')">
                                        business</p>
                                </div>
                            </div>
                            <div *ngIf="category != 'entertainment'" class="row  cat__container">
                                <div class="col-9">
                                    <p class="main__text text-capitalize ml-3"
                                        (click)="changeCategory('entertainment')">entertainment</p>
                                </div>
                            </div>
                            <div *ngIf="category != 'general'" class="row cat__container">
                                <div class="col-9">
                                    <p class="main__text text-capitalize ml-3" (click)="changeCategory('general')">
                                        general</p>
                                </div>
                            </div>
                            <div *ngIf="category != 'health'" class="row cat__container">
                                <div class="col-9">
                                    <p class="main__text text-capitalize ml-3" (click)="changeCategory('health')">health
                                    </p>
                                </div>
                            </div>
                            <div *ngIf="category != 'science'" class="row cat__container">
                                <div class="col-9">
                                    <p class="main__text text-capitalize ml-3" (click)="changeCategory('science')">
                                        science</p>
                                </div>
                            </div>
                            <div *ngIf="category != 'sports'" class="row cat__container">
                                <div class="col-9">
                                    <p class="main__text text-capitalize ml-3" (click)="changeCategory('sports')">sports
                                    </p>
                                </div>
                            </div>
                            <div *ngIf="category != 'technology'" class="row cat__container">
                                <div class="col-9">
                                    <p class="main__text text-capitalize ml-3 pb-2"
                                        (click)="changeCategory('technology')">technology</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!openedTrue" class="col-2">
                    <p routerLink="/saved-for-later" class="mt-4 float-left text-uppercase main__text sidebar__home"><i
                            class="fas fa-glasses" style="position: absolute; top: 50%;"></i></p>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="row">
        <div class="col-0 col-sm-3 d-none d-lg-block">
            <div class="main__sidebar">
                <div class="sidebar__contents mx-5">
                    <br>
                    <p routerLink="/home" class="ml-2 mb-1 text-uppercase main__text sidebar__home">Home</p>
                    <br>
                    <p routerLink="/saved-for-later" class="ml-2 mb-1 text-uppercase main__text sidebar__saved"><i
                            class="fas fa-glasses"></i> &nbsp; Saved for later</p>
                    <br>
                    <p class="ml-2 mb-1 text-uppercase main__text">Categories</p>
                    <div class="cats__container ml-4 mt-4" (click)="openSelect()"
                        [ngClass]="{cats__container: !openedTrue, cats__containerOp: openedTrue}">
                        <div class="row cat__container1">
                            <div class="col-9">
                                <p class="main__text ml-5 text-capitalize font-weight-bold">{{category}}</p>
                            </div>
                            <div class="col-3 text-center">
                                <i class="fas fa-sort-down" style="position: absolute; top: 6%;"></i>
                            </div>
                        </div>
                        <div *ngIf="category != 'business'" class="row cat__container">
                            <div class="col-9">
                                <p class="main__text text-capitalize ml-5" (click)="changeCategory('business')">business
                                </p>
                            </div>
                        </div>
                        <div *ngIf="category != 'entertainment'" class="row  cat__container">
                            <div class="col-9">
                                <p class="main__text text-capitalize ml-5" (click)="changeCategory('entertainment')">
                                    entertainment</p>
                            </div>
                        </div>
                        <div *ngIf="category != 'general'" class="row cat__container">
                            <div class="col-9">
                                <p class="main__text text-capitalize ml-5" (click)="changeCategory('general')">general
                                </p>
                            </div>
                        </div>
                        <div *ngIf="category != 'health'" class="row cat__container">
                            <div class="col-9">
                                <p class="main__text text-capitalize ml-5" (click)="changeCategory('health')">health</p>
                            </div>
                        </div>
                        <div *ngIf="category != 'science'" class="row cat__container">
                            <div class="col-9">
                                <p class="main__text text-capitalize ml-5" (click)="changeCategory('science')">science
                                </p>
                            </div>
                        </div>
                        <div *ngIf="category != 'sports'" class="row cat__container">
                            <div class="col-9">
                                <p class="main__text text-capitalize ml-5" (click)="changeCategory('sports')">sports</p>
                            </div>
                        </div>
                        <div *ngIf="category != 'technology'" class="row cat__container">
                            <div class="col-9">
                                <p class="main__text text-capitalize ml-5 pb-2" (click)="changeCategory('technology')">
                                    technology</p>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="main__body">
                <div class="row w-100">
                    <div class="col-12 col-lg-6 px-0 w-75">
                        <!--Aquí-->
                        <h1 class="title__text text-center mt-5">Top Headlines</h1>
                        <div class="noticiasTop__container">
                            <div *ngFor="let articleTop of articlesTop, let i = index" class="noticias">
                                <div class="report__card" routerLink="/report/top/{{i}}">
                                    <p class="main__text mt-5 mx-5 text-center text-capitalize font-weight-bold">
                                        {{i+1}}.
                                        {{articleTop["title"]}}</p>
                                    <div class="report__content mx-5">
                                        <img class="reportTop__img" src="{{articleTop['urlToImage']}}">
                                        <small class="main__text">{{articleTop["description"]}}</small>
                                        <hr class="w-75">
                                        <small class="main__text mt-3"><span>{{articleTop["publishedAt"]}}</span> |
                                            <span>{{articleTop["author"]}}</span></small>
                                    </div>
                                </div>
                                <p (click)="saveForLater(articleTop,i)" [ngClass]="{saveForLater: included == false, savedArticle: included == true && selectedArticle == i}"
                                    class="main__text text-right mt-3 mr-3 saveForLater"><i class="fas fa-glasses">
                                        &nbsp; Save
                                        for later</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 px-0 w-75">
                        <!--Aquí-->
                        <h1 class="title__text text-center mt-5">Everything</h1>
                        <div class="noticiasAll__container">
                            <div *ngFor="let articleAll of articlesAll, let i = index" class="noticias">
                                <div *ngIf="showArticle(articlesAll,i)">
                                    <div class="report__card" routerLink="/report/all/{{i}}">
                                        <p class="main__text mt-5 mx-5 text-center text-capitalize font-weight-bold">
                                            {{i+1}}. {{articleAll["title"]}}</p>
                                        <div class="report__content mx-5">
                                            <img class="reportAll__img" src="{{articleAll['urlToImage']}}">
                                            <small class="main__text">{{articleAll["description"]}}</small>
                                            <hr class="w-75">
                                            <small class="main__text mt-3"><span>{{articleAll["publishedAt"]}}</span> |
                                                <span>{{articleAll["author"]}}</span></small>
                                        </div>
                                    </div>
                                    <p (click)="saveForLater(articleAll,i)"
                                        class="main__text text-right mr-3 saveForLater"
                                        [ngClass]="{saveForLater: included == false, savedArticle: included == true && selectedArticle == i}"><i class="fas fa-glasses">
                                            &nbsp; Save
                                            for later</i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="space_bar">
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <h1 class="title__text text-center mt-5">Saved For Later</h1>
                                <div class="savedForLater__container">
                                    <div *ngFor="let saved of savedDataArray, let i = index" class="saved">
                                        <div *ngIf="savedDataArray">
                                            <div class="report__card" routerLink="/report/saved/{{i}}">
                                                <p
                                                    class="main__text mt-5 mx-5 text-center text-capitalize font-weight-bold">
                                                    {{i+1}}. {{saved.title}}</p>
                                                <div class="report__content mx-5">
                                                    <img class="reportTop__img" src="{{saved['urlToImage']}}}}">
                                                    <small class="main__text">{{saved["description"]}}</small>
                                                    <hr class="w-75">
                                                    <small class="main__text mt-3"><span>{{saved["publishedAt"]}}</span>
                                                        |
                                                        <span>{{saved["author"]}}</span></small>
                                                </div>
                                            </div>
                                            <p (click)="deleteReport(i)"
                                                class="main__text text-right mt-3 mr-3 saveForLater"><i
                                                    class="fas fa-trash"> &nbsp; Delete</i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>