.header__navbar{
    border-bottom: 1px solid black;
}
.title__text{
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
}
.main__sidebar{
    border-right: 4px solid black;
    margin-top: 30%;
    height: 100vh;
}
.main__text{
    font-family: 'PT Serif', serif;
    outline: none;
}
.noticiasTop__container{
    height: 150vh;
    overflow-y: scroll;
    margin-bottom: 7%;
}

.noticiasAll__container{
    height: 80vh;
    overflow-y: scroll;
    margin-bottom: 7%;
}
.report__card{
    transition: .5s;
}
.report__card:hover{
    opacity: .4;
}
.reportTop__img{
    width: 100%;
    position: relative;
    margin: 5% auto;
}
.reportAll__img{
    width: 80%;
    position: relative;
    margin: 5% auto;
}
.report__content{
    display: inline-grid;
}
.neoland__title{
    transition: .5s;
    cursor: pointer;
    
}
.neoland__title:hover{
    color: #888;
    cursor: pointer;
    outline: 0;
}
.sidebar__home{
    transition: .5s;
    cursor: pointer;
}
.sidebar__home:hover{
    color: #888;
}
.sidebar__category{
    transition: .5s;
    cursor: pointer;
}
.sidebar__category:hover{
    color: 
    #888;
}
.sidebar__saved{
    transition: .5s;
    cursor: pointer;
}
.sidebar__saved:hover{
    color: #888;
}
/* .saveForLaterClicked{
    cursor: pointer;
    font-weight: bolder;
    color: teal;
} */
.saveForLater{
    cursor: pointer;
    font-weight: bolder;
}
.savedForLater__container{
    height: 54vh;
    overflow-y: scroll;
    margin-bottom: 7%;
}
.space_bar{
    border-bottom: 1px solid black;
    width: 75%;
    margin-left: 10%;
}
.headermp__menubar{
    width: 82%;
    margin: 0 auto;
    margin-top: 5%;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
}
.cats__container{
    max-height: 5vh;
    overflow: hidden;
    border: 1px solid #333333;
    border-radius: .25rem;
}
.cats__containerOp{
    height: 36vh;
    border: 1px solid #333333;
    border-radius: .25rem;
}
.cat__container1{
    height: 5vh;
    text-align: left;
    vertical-align: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    cursor: pointer;
}
.cat__container{
    height: 5vh;
    text-align: left;
    vertical-align: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    cursor: pointer;
}
.cat__container:hover{
    cursor: pointer;
    background-color: #eeeeee;
    margin: 0;
}
.savedArticle{
    color: #888;
    cursor: pointer;
    font-weight: bolder;
}
