.header__navbar{
    border-bottom: 1px solid black;
}
.title__text{
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
}
.main__sidebar{
    border-right: 4px solid black;
    margin-top: 30%;
    height: 100vh;
}
.main__text{
    font-family: 'PT Serif', serif;
}
.noticias__container{
    height: 80vh;
    overflow-y: scroll;
}
.noticias{
    transition: .5s;
}
.noticias:hover{
    opacity: .4;
}
.report__img{
    width: 80%;
    position: relative;
    margin: 5% auto;
}
.report__content{
    display: inline-grid;
}
.report__container{
    display: inline-grid;
}
.neoland__title{
    transition: .5s;
    cursor: pointer;
}
.neoland__title:hover{
    color: #444;
}
.sidebar__home{
    transition: .5s;
    cursor: pointer;
}
.sidebar__home:hover{
    color: #888;
}
.sidebar__category{
    transition: .5s;
    cursor: pointer;
}
.sidebar__category:hover{
    color: 
    #888;
}
.sidebar__saved{
    transition: .5s;
    cursor: pointer;
}
.sidebar__saved:hover{
    color: #888;
}
.report__card{
    transition: .5s;
}
.report__card:hover{
    opacity: .4;
}